[Container]
HostName=%hostname%
ContainerName=%containername%
Description="%description%"
Image=%image%
Network=%network%
Label="%label%"
PublishPort=%port%

[Install]
WantedBy=%targets%

