[Container]
%hostname%
ContainerName=%containername%
Description="%description%"
Image=%image%
Network=%network%
Label="%label%"
%expose%
%publish_port%
%environment_file%
%add_capability%
%volume%

[Service]
%exec_reload%
%restart%

[Install]
WantedBy=%targets%

