unbound - 1.5.9 - DNS resolver library.
vim - 7.4 - Vi-style editor.
vttest - 20140305 - vttest is a utility that tests compliance of VT terminal emulators.
wget - 1.15 - wget is a utility that can fetch remote files from a web server.
xz - 5.2.1 - xz compression utility and library.
zsh - 5.2 - Z shell.

