[Unit]
Description=%description%
# This is systemd syntax to wait for the network to be online before starting this service:
After=network-online.target
 
[Network]
NetworkName=%name%
%subnet%
%gateway%
%dns%
IPv6=true
 
[Install]
WantedBy=default.target
