language: "perl"

perl:
  - "5.20"

install:
    - cpanm --notest -q Sparrow
    - sparrow plg install metacpan-api-packages-status

script: sparrow plg run metacpan-api-packages-status --param lines=30

