server "s1" {
        name "my.server";
        paths {
            base /opt/myapp;
            pool "files" static {
                ./pub/img;
                "static/img";
                "docs";
            };
            pool "files" dynamic {
                "users/reports";
                "system/reports"
            }
        }
}
